#!/usr/bin/make -f

%:
	PATH=$(PREFIX)/bin:$(PATH) \
	    dh $@

BUILD_BASE = build
PREFIX_BASE = /opt/riscv

PWD := $(shell pwd)
PKGVER := $(shell head -1 PKGVERSION)

PROJ   = riscv64-linux-glibc
TARGET = riscv64-unknown-linux-gnu

MARCH_LIST = rv64gc rv64imac rv32gc rv32imac
MABI_LIST  = lp64d lp64 ilp32d ilp32
MLIB_LIST  = lib64 lib64 lib32 lib32
MARCH_EXT  =

BUILD   = $(BUILD_BASE)_$(MARCH)_$(PROJ)
PREFIX  = $(PREFIX_BASE)
SYSROOT = $(PREFIX_BASE)/$(TARGET)/sysroot
DEST    = $(PWD)/debian/$(PROJ)
DESTPRE = $(DEST)/$(PREFIX)
DESTSYS = $(DEST)/$(SYSROOT)

define configure_macro
	$(eval MARCH = $(word $(1),$(MARCH_LIST))$(MARCH_EXT))
	$(eval MABI  = $(word $(1),$(MABI_LIST)))
	mkdir -p $(BUILD) && cd $(BUILD) && \
	../configure \
	  --host=$(TARGET) \
	  --prefix=/usr \
	  --disable-multilib \
	  --with-headers=$(SYSROOT)/usr/include \
	  --with-sysroot=$(SYSROOT) \
	  CC="$(TARGET)-gcc -march=$(MARCH) -mabi=$(MABI)" \
	  CFLAGS="-O2 -mcmodel=medany"
endef

define build_macro
	$(eval MARCH = $(word $(1),$(MARCH_LIST))$(MARCH_EXT))
	dh_auto_build -B$(BUILD) --parallel
endef

define install_macro
	$(eval MARCH = $(word $(1),$(MARCH_LIST))$(MARCH_EXT))
	$(MAKE) -C $(BUILD) install_root=$(DESTSYS) install
	rm -r $(DESTSYS)/sbin
	rm -r $(DESTSYS)/usr/sbin
	rm -r $(DESTSYS)/usr/bin
	rm -r $(DESTSYS)/usr/libexec/getconf
endef

define shlibdeps_macro
	$(eval MABI = $(word $(1),$(MABI_LIST)))
	$(eval MLIB = $(word $(1),$(MLIB_LIST)))
	###dh_shlibdeps -l$(DESTSYS)/lib:$(DESTSYS)/$(MLIB)/$(MABI)
endef

override_dh_auto_clean:

override_dh_autoreconf:

override_dh_auto_configure:
	$(call configure_macro,1)
	$(call configure_macro,2)
	$(call configure_macro,3)
	$(call configure_macro,4)

override_dh_auto_build:
	$(call build_macro,1)
	$(call build_macro,2)
	$(call build_macro,3)
	$(call build_macro,4)

# Ignore tests
override_dh_auto_test:

override_dh_auto_install:
	$(call install_macro,1)
	$(call install_macro,2)
	$(call install_macro,3)
	$(call install_macro,4)

# Ignore strip
override_dh_strip:

override_dh_shlibdeps:
	$(call shlibdeps_macro,1)
	$(call shlibdeps_macro,2)
	$(call shlibdeps_macro,3)
	$(call shlibdeps_macro,4)
